 @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

 body {
   padding-top: 70px;
 }

 .mainpanel{
   margin-left: 220px;
   padding: 20px;
   background: #3399FF;
   border-radius: 5px;
 }

 .leftpanel{
   width: 220px;
   position: fixed;
   background: #fff;
 }

 .contentpanel{
   background: #fff;
   border-radius: 5px;
 }